*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  overflow-x: hidden !important; 
}
.text{
    text-align: center;
}

.card img{
    object-fit: cover;
    width: 200px;
}

.footer{
    background-color: rgb(246, 222, 246);
    margin-top: 40px;
    padding: 5rem;
}


.card {
  max-width: 100%; /* Ensure cards never overflow */
}
ul li a{
    text-decoration: none;
    color: black;
}