/* body {
  overflow-x: hidden; 
} */
.text{
    text-align: center;
}
.navbar{
    /* background-color: rgb(246, 222, 246); */
    border: thin solid red;
}
.card img{
    object-fit: cover;
    width: 200px;
}

.footer{
    background-color: rgb(246, 222, 246);
    margin-top: 40px;
    padding: 5rem;
    border:thin solid red;
}


.card {
  max-width: 100%; /* Ensure cards never overflow */
}